<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370829546500-0lnen3n3fjtes8pjuof5go2mr1kb3c9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370829546500-0lnen3n3fjtes8pjuof5go2mr1kb3c9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>370829546500-4pboh72tdgjnibl5vpk5ksut325hfk9t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhveTOlBOSpv-6ct1U_Y7v_qJezYAgSco</string>
	<key>GCM_SENDER_ID</key>
	<string>370829546500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.PublicPoll</string>
	<key>PROJECT_ID</key>
	<string>public-poll-6702a</string>
	<key>STORAGE_BUCKET</key>
	<string>public-poll-6702a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370829546500:ios:f86854a04441fbc6cb5151</string>
</dict>
</plist>